.selected-category {
    border: 1px solid black;
}

/* .anchor-text-styling */

.category-styling {
    text-decoration: none;
    margin-left: 4px;
    margin-right: 4px;
    padding: 6px;
    color: black;
}

.category-styling:not(.selected-category):hover {
    background-color: rgb(233, 222, 222);
}

.non-list-style {
    list-style: none;
}

.centered-container {
    display: flex;
    justify-content: center;
    padding-left: 0px; /*in case of list*/
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 16px;
    margin-left: 20%;
    margin-right: 20%;
}

.book-container {
    text-align: center;
}

.second-book-container {
    display: inline-block;
}

.book-name {
    display: block;
}

.book-img {
    width: 225px;
    height: 375px;
}

.zero-count-paragraph {
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
}