.profile-picture-img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.grid-container {
    display: grid;
    place-items: center;
}

.input-file-button {
    display: block;
}

.nick-input {
    margin-top: 24px;
}